html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:100%;font-weight:normal}
q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-weight:inherit;font-size:100%;}
legend{color:#000}
@font-face{font-family:'pf_dintext_pro';src:url(http://www.radiorecord.ru/i/fonts/pfdintextpro-bold-webfont.eot);src:url(http://www.radiorecord.ru/i/fonts/pfdintextpro-bold-webfont.eot?#iefix) format('embedded-opentype'),url(http://www.radiorecord.ru/i/fonts/pfdintextpro-bold-webfont.woff) format('woff'),url(http://www.radiorecord.ru/i/fonts/pfdintextpro-bold-webfont.ttf) format('truetype');font-weight:bold;font-style:normal;}@font-face{font-family:'pf_dintext_pro';src:url(http://www.radiorecord.ru/i/fonts/pfdintextpro-regular-webfont.eot);src:url(http://www.radiorecord.ru/i/fonts/pfdintextpro-regular-webfont.eot?#iefix) format('embedded-opentype'),url(http://www.radiorecord.ru/i/fonts/pfdintextpro-regular-webfont.woff) format('woff'),url(http://www.radiorecord.ru/i/fonts/pfdintextpro-regular-webfont.ttf) format('truetype');font-weight:normal;font-style:normal;}@font-face{font-family:'pf_dintext_pro';src:url(http://www.radiorecord.ru/i/fonts/pfdintextpro-thin-webfont.eot);src:url(http://www.radiorecord.ru/i/fonts/pfdintextpro-thin-webfont.eot?#iefix) format('embedded-opentype'),url(http://www.radiorecord.ru/i/fonts/pfdintextpro-thin-webfont.woff) format('woff'),url(http://www.radiorecord.ru/i/fonts/pfdintextpro-thin-webfont.ttf) format('truetype');font-weight:lighter;font-style:normal;}@font-face{font-family:'Gotham Pro';font-style:normal;font-weight:bold;src:local('Gotham Pro Bold'),url('http://www.radiorecord.ru/i/fonts/GothaProBol.woff') format('woff');}@font-face{font-family:'Gotham Pro Medium';font-style:normal;font-weight:normal;src:local('Gotham Pro Medium'),url('http://www.radiorecord.ru/i/fonts/GothaProMed.woff') format('woff');}@font-face{font-family:'Gotham Pro Regular';font-style:normal;font-weight:normal;src:local('Gotham Pro Regular'),url('http://www.radiorecord.ru/i/fonts/GothaProReg.woff') format('woff');}@font-face{font-family:'Gotham Pro';font-style:normal;font-weight:lighter;src:local('Gotham Pro Light'),url('http://www.radiorecord.ru/i/fonts/GothaProLig.woff') format('woff');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:bold;src:local('OpenSans-Bold'),url(http://www.radiorecord.ru/i/fonts/Open_Sans/OpenSans-Bold.eot) format('embedded-opentype'),url(/i/fonts/Open_Sans/OpenSans-Bold.woff) format('woff'),url(http://www.radiorecord.ru/i/fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:normal;src:local('OpenSans-Regular'),url(http://www.radiorecord.ru/i/fonts/Open_Sans/OpenSans-Regular.eot) format('embedded-opentype'),url(http://www.radiorecord.ru/i/fonts/Open_Sans/OpenSans-Regular.woff) format('woff'),url(http://www.radiorecord.ru/i/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');}

*{margin:0;padding:0;border:none;outline:none;zoom:1;}
body{font-size:12px;font-family:Arial,serif;color:#000;}
h1{font-size:14px;}h2{font-size:14px;}h3,h4{font-size:13px;}h5,h6{font-size:13px;}
a{color:#000;outline:none;}.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.dintext-font{font-family:pf_dintext_pro;font-weight:normal;}
.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.flip-horizontal{-moz-transform:scale(-1,1);-webkit-transform:scale(-1,1);-o-transform:scale(-1,1);transform:scale(-1,1);filter:FlipH;-ms-filter:"FlipH";}html,body{min-width:995px;min-height:100%;}#panel{position:fixed;z-index:600;}
.mt15{margin-top:15px;}.mt10{margin-top:10px;}
.ml15{margin-left:15px;}.ml10{margin-left:10px;}
.mr30{margin-right:30px;}
.pr15{padding-right:15px!important;}
.pr10{padding-right:10px!important;}
.pr7{padding-right:7px!important;}
.play_color{color:#FFAE00;}
.buffer_color{background-color:#cfcfcf!important;}
.buffer_color::before{border-top:6px solid #cfcfcf!important;}
.now_color{background-color:#838587!important;}
.position_color{background-color:#E1E1E1!important;}
.theme_background{background-color:#FFAE00;}
.theme_color{color:#FFAE00!important;}
.with-shadow{-webkit-box-shadow:2px 2px 0px #757575;-moz-box-shadow:2px 2px 0px #757575;box-shadow:2px 2px 0px #757575;}
.with-round{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.white-bgr{background-color:#fff;}
.hidden{position:absolute;visibility:hidden;left:-10000px;top:-10000px;}
.mb15{margin-bottom:15px;}.noopacity{opacity:1!important;}
.block-header{display:block;padding:10px 15px;text-transform:uppercase;font-size:18px;margin:0px;background-color:#000;color:#fff;}
.block-header a{color:white;text-decoration:none;}
aside .block-header{background-color:#000;}
.eye-more{background-image:url(/bitrix/templates/flat/img/eye.png);float:right;background-repeat:no-repeat;background-position:right center;padding-right:20px;margin:5px;}
.eye-more a{text-decoration:none;color:#455b83;font-size:11px;font-weight:bold;}
.eye-more2{background-image:url(/bitrix/templates/flat/img/eye2.png);float:right;background-repeat:no-repeat;background-position:right center;padding-right:20px;margin:9px;}
.eye-more2 a{text-decoration:none;color:#8da5d0;font-size:11px;font-weight:bold;}
.all_news_link{background-image:url(/bitrix/templates/flat/img/eye.png);float:right;background-repeat:no-repeat;background-position:right center;padding-right:20px;margin:5px;}
.all_news_link a{text-decoration:none;color:#455b83;font-size:11px;font-weight:bold;}
.all_news_link:hover a{opacity:0.8;}
.iosblur{-webkit-filter:blur(20px);-moz-filter:blur(20px);-o-filter:blur(20px);-ms-filter:blur(20px);filter:blur(20px);opacity:0.4;}
.global_loader{left:50%;position:relative;font-size:32px;width:60px;overflow:hidden;margin-left:-15px;color:#1d3354;}
.gallery-opened{border:6px white solid;background-color:black;position:absolute;top:20px;visibility:hidden;z-index:510;width:760px;left:50%;margin-left:-375px;}
.gallery-new-back-close{visibility:hidden;cursor:pointer;top:21px;left:50%;z-index:520;margin-left:300px;position:absolute;background-image:url('//www.radiorecord.ru/i/img/rr/record_may2012/gallery-close.png');width:60px;height:11px;left:auto;right:12px;top:12px;}
.gallery-new-back-close:hover{background-position:0 -11px;}
.gallery-new-back-close2{visibility:hidden;cursor:pointer;top:21px;left:50%;z-index:525;margin-left:300px;position:absolute;background-image:url('//www.radiorecord.ru/i/img/rr/record_may2012/gallery-close.png');width:60px;height:11px;}
.gallery-new-titles{width:100%;height:34px;background-color:black;color:white;font-size:18px;line-height:42px;text-transform:uppercase;}
.gallery-new-gals{width:760px;height:515px;}
.gallery-new-back{background-color:black;opacity:0.8;width:100%;height:100%;visibility:hidden;top:0;left:0;z-index:500;position:fixed;}
.programm_more{float:right;padding-right:8px;margin:5px;}
.programm_more a{float:right;color:#999999;font-size:15px;padding-left:30px;padding-top:5px;}

.index-wrap { margin: 0 auto; padding:0;   overflow: hidden;  }
.index-wrap:after { content: " "; display: block; }


.clear { clear: both; }
.mfp-zoom-out-cur { cursor: default; }
.mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: pointer; }

.index-wrap .container { width: 840px; margin: 0 auto; position: relative;}
.index-wrap .container .logo { position: absolute; margin:  0; }
.index-wrap .container .logo a { display: block; }


.index-wrap header { margin: 0 auto; padding:0; width: 840px; z-index: 500; }
.index-wrap header.fix { z-index: 450;  width: 840px; margin-top: 0; top: 0; }
.index-wrap header .player { top: 0px; width: 100%; height: 55px; background-color: #2a2d2e; }
.index-wrap header .player .wrapper { width: 840px; height: 55px; margin: 0 ; position: relative; }
.index-wrap header .player .wrapper_3px { position: relative; width: 840px; height: 3px; margin: 0 auto; overflow: hidden; background-image: url('http://www.radiorecord.ru/bitrix/templates/flat/img/3px.png'); margin-top: -3px; background-repeat: repeat; }
.index-wrap header .player .play-pause { cursor: pointer; width: 55px; height: 55px; text-align: center; line-height: 55px; color: white; font-size: 26px; background-color: #FFAE00; }
.index-wrap header .player .play-pause i { display: none; }
.index-wrap header .player .play-pause.ready:hover { opacity: 0.9; /*color: #67d0f7;*/ }
.index-wrap header .player .play-pause.loading span { display: none; }
.index-wrap header .player .play-pause.loading i { display: inline; }
.index-wrap header .player #nowplay-image { width: 55px; height: 55px; background-size: cover; font-size: 53px; text-align: center; line-height: 55px;}
.index-wrap header .player a.into_station { display: block; }



.index-wrap header .player #nowplay-image img { width: 55px; height: 55px; }
.index-wrap header .player .textinfo { width: 265px; text-decoration: none; min-height: 55px;}
.index-wrap header .player .textinfo #nowplay-station { color: white; margin: 4px 0 0 11px; font-size: 14px; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer; }
.index-wrap header .player .textinfo #nowplay-artist { color: #fff; margin: 2px 0 0 11px; opacity: 0.4; max-width: 330px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.index-wrap header .player .textinfo #nowplay-title { color: #fff; margin: 0 0 0 11px; opacity: 0.6; max-width: 330px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.index-wrap header .player .top-buttons { background-repeat: no-repeat; background-position: 0 center; }
.index-wrap header .player .top-buttons > div { cursor: pointer; min-width: 43px; height: 55px; }
.index-wrap header .player .top-buttons > div i,
.index-wrap header .player .switch-stations > div,
.index-wrap header .player .play-pause span { opacity: 1; }
.index-wrap header .player .top-buttons > div:hover i,
.index-wrap header .player .switch-stations > div:hover,
.index-wrap header .player .play-pause:hover span { opacity: 1; }
.index-wrap header .player .top-buttons div.active { background-image: url('img/black40.png'); }

.index-wrap header .player .top-buttons .all-stations-menu { background-image: none; text-align: center; font-size: 21px; text-align: center; line-height: 56px; color: #BEBFC0; padding: 0 5px; }
.index-wrap header .player .top-buttons .all-stations-menu:hover { color: white !important; }
.index-wrap header .player .top-buttons .all-stations-menu > span { font-size: 11px; line-height: 56px; text-align: center; text-transform: uppercase; padding: 0 5px; }
.index-wrap header .player .top-buttons .all-stations-menu > span i { font-size: 10px; margin-left: 5px; }
.index-wrap header .player .top-buttons .all-stations-menu > span i:before { transform: rotate(90deg); }
.index-wrap header .player .top-buttons .all-stations-menu:hover > span i:before { transform: rotate(270deg); }
.index-wrap header .player .top-buttons .all-stations-menu .all-stations-dropdown { display: none; }
.index-wrap header .player .top-buttons .all-stations-menu .all-stations-dropdown td { display: none;  }
.index-wrap header .player .top-buttons .all-stations-menu .all-stations-dropdown td i { display: none;  }
.index-wrap header .player .top-buttons .all-stations-menu .all-stations-dropdown td span { display: none;  }


/* menu ilike*/
.index-wrap header .player .like_in { display: none; box-shadow: 0px 0px 8px -2px #222325; background-repeat: no-repeat; position: absolute; margin-left: 723px; top: 53px; z-index: 200; background-color: rgba(0,0,0, 0.9); }
.index-wrap header .player .like_in span { line-height: 30px; margin-left: 7px; font-size: 12px; }
.index-wrap header .player .like_in i { font-size: 25px; float: left; width: 27px; text-align: center; line-height: 31px; }
.index-wrap header .player .like_in a { color: #bcc1c2; text-decoration: none; display: block; padding: 5px 23px 5px 14px; }
.index-wrap header .player .like_in a:hover { color: #FCFFFF; background-color: #262829; }
.index-wrap header .player .like_in a:first-child { padding-top: 10px; }
.index-wrap header .player .like_in a:last-child { padding-bottom: 10px; }
.index-wrap header .player .like_in::before { content: ' '; position: absolute; z-index: 205; left: 77px; top: -16px; border: 8px solid transparent; border-bottom: 8px solid #222325; }
/* Сетка ads */

.player_grid table.all-stations_ads td {background-color: rgb(0,0,0);position: relative; width: 105px; height: 105px; transition: all 0.2s linear; cursor: pointer; 
    padding: 0 0px 0px 0px; vertical-align: bottom; font-size: 12px; border: 0px; text-align: center; white-space: nowrap; }


